.bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
}
.form-group {
    margin-bottom: 1rem;
    text-align: left;
}
.bg-register-image {
    background: url(https://source.unsplash.com/Mv9hjnEUHR4/600x800);
    background-position: center;
    background-size: cover;
}
body {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
    height: 100%;
}
.bg-password-image {
    background: url(https://source.unsplash.com/oWTW-jNGl9I/600x800);
    background-position: center;
    background-size: cover;
}

.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}